@import './table_style.css';
@import './select2.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-highlight {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.1), -5px -5px 12px rgba(254, 252, 232, 0.538);
}

input {
    outline: none;
}
input[type="file"]:focus{
    /* border-top: 4px solid rgba(0, 0, 0, 0.3);
    border-left: 2px solid rgba(0, 0, 0, 0.3); */
    background: rgb(161 98 7 / 0.15);
}

.col-span-1 {
    grid-column: span 1 / span 1;
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.col-span-3 {
    grid-column: span 3 / span 3;
}

.col-span-4 {
    grid-column: span 4 / span 4;
}

.col-span-5 {
    grid-column: span 5 / span 5;
}

.col-span-6 {
    grid-column: span 6 / span 6;
}

.col-span-7 {
    grid-column: span 7 / span 7;
}

.col-span-8 {
    grid-column: span 8 / span 8;
}

.col-span-9 {
    grid-column: span 9 / span 9;
}

.col-span-10 {
    grid-column: span 10 / span 10;
}

.col-span-11 {
    grid-column: span 11 / span 11;
}

.col-span-12 {
    grid-column: span 12 / span 12;
}

.ql-toolbar {
    border: none !important;
}
.ql-container{
    border: none !important;
}
.ql-editor {
    border-top: 1px solid rgba(0, 0, 0, 0.195);
}
.ql-picker-options,
.ql-tooltip{
    background-color: rgb(249, 245, 220) !important;
    box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.05) !important;
    border-radius: 5px;
    border: 1px solid rgb(161 98 7 / 0.1) !important;
}
.ql-header.ql-picker.ql-expanded span {
    border: 1px solid rgb(161 98 7 / 0.1) !important;
}
.ql-header.ql-picker span::before{
    color: black;
}
.ql-editor {
    min-height: 9rem;
}